@import "../variables"
@import "../mixins/media-query"

html
  direction: $directionBase
  font-family: $fontFamilyBase, sans-serif
  font-weight: $weightRegular
  font-size: $baseFontSize
  color: $colorGray
  overflow-x: hidden

body
  background: $colorWhite
  //noinspection CssInvalidPropertyValue
  min-height: -webkit-fill-available
  margin-right: auto
  margin-left: auto
  max-width: 45rem
  padding: $spaceLargest $spaceLarge
  +breakpoint(mobileTablet)
    height: 100vh
    overflow-y: auto
    transition: $transitionBase
    min-height: 100vh
    overflow-x: hidden


